<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Footer</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>


	<footer th:fragment="footer"  class="page-footer font-small cyan darken-3">
		<div class="footer-copyright text-center col-md-15 py-5">
			<h4>Kelompok 7</h4>
			<p>Amanda Zulfa Salsabila (1227050019)</p>
			<p>Diman Fathurohman(1227050037)</p>
			<p>Dimas Arya Nurhakim (1227050038)</p>
		</div>
	</footer>

</body>
</html>